<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="All">
      <!--<directory suffix="Test.php">Composition</directory>
      <directory suffix="Test.php">Infinite</directory>
      <directory suffix="Test.php">Math</directory>-->
      <directory suffix="Test.php">Multi</directory>
      <directory suffix="Test.php">Random</directory>
      <directory suffix="Test.php">Reduce</directory>
      <directory suffix="Test.php">Single</directory>
      <directory suffix="Test.php">Summary</directory>
      <directory suffix="Test.php">Set</directory>
      <directory suffix="Test.php">Stream</directory>
      <directory suffix="Test.php">File</directory>
      <directory suffix="Test.php">Transform</directory>
      <directory suffix="Test.php">Util</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">../src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">../vendor/</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="memory_limit" value="512M"/>
  </php>
</phpunit>
